<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509575966389-l48fvshukfpbvt26j9iqesjschaucrmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509575966389-l48fvshukfpbvt26j9iqesjschaucrmb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509575966389-80b3o5lactala0rmc04e8ttn61dlpfma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2F_JJpxHSuosUIPnxPlc2Fi_rGyxeNJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>509575966389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.template.doctorfinder.appcode3</string>
	<key>PROJECT_ID</key>
	<string>doctorfinder-book-appointment</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorfinder-book-appointment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509575966389:ios:614535cab75114b7b458fc</string>
	<key>DATABASE_URL</key>
	<string>https://doctorfinder-book-appointment-default-rtdb.firebaseio.com</string>
</dict>
</plist>